@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cyberpunk";
  src: url("../public/Cyberpunk.ttf"), url("../public/Cyberpunk.otf");
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-radial-start-rgb: 3, 158, 255;
  --background-start-rgb: 62, 127, 243;
  --background-end-rgb: 119, 69, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

main {
  @apply z-40 flex min-h-screen flex-col items-center bg-blue-purple-radial p-16;
}

@layer utilities {
  .smallcaps {
    font-variant: small-caps;
  }
}

/* #avatar > div::before {
  opacity: 0;
  content: '';
  background-color: transparent;
  border-radius: 50%;
  border: 5px solid lightgray;
  position: absolute;
  width: 135px;
  height: 135px;
  transform: translateY(-5px) translateX(-5px);
  transition: all;
  transition-duration: 500ms;
}

#avatar:hover {
  @apply font-cyberpunk;
}

#avatar:hover > div::before {
  opacity: 1;
}

#avatar:hover > div {
  @apply bg-yellow-cyber shadow-inset rounded-full;
} */
